body {
    background-size: cover;
}

.heading {
    width: 100%;
    margin-bottom: 10px;
    box-shadow: 2px 2px 10px white;
    padding: 10px;
}

.heading button {
    float: right;
    width: 10%;
    border: 1px solid white;
}

.heading h2 {
    display: inline;
}

#Start, #Status {
    font-size: 19px;
    margin: 5px;
}

#Restart {
    font-size: 19px;
    margin-left: 5px;
}

p {
    bottom: 0;
    position: fixed;
    width: 100%;
    text-align: center;
    background-color: white;
    color: black;
    margin: 0px;
}

.modal-dialog {
    width: 90%;
}

canvas {
    border-radius: 10px;
    border: 7px ridge white;
}

#CanvasHolder {
    margin: 20px;
}